@charset "utf-8";

.loading {
  position: absolute;
  top:30px;
  left:0px;
  z-index: 9999;
  display: none;
  min-width: 55px;
  width: 100%;
  height: 55px;
  border: none;
  margin: 0px;
  padding: 0px;
  background-image: url("./image/util/loading.gif");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

